.tab1{
display: inline-block;margin-left: 206px;
}
.tab2{
	display: inline-block;margin-left: 158px;
}
.tab3{
	display: inline-block;margin-left: 163px;
}
.tab4{
	display: inline-block;margin-left: 145px;
}
.tab5{
	display: inline-block;margin-left: 215px;
}
.tab6{
	display: inline-block;margin-left: 101px;
}
.tab7{
	display: inline-block;margin-left: 151px;
}
.tab8{
	display: inline-block;margin-left: 196px;
}
.tab9{
	display: inline-block;margin-left: 180px;
}
.tab10{
	display: inline-block;margin-left: 171px;
}
.tab11{
	display: inline-block;margin-left: 174px;
}
.tab12{
	display: inline-block;margin-left: 190px;
}
.tab13{
	display: inline-block;margin-left: 168px;
}
.tab14{
	display: inline-block;margin-left: 95px;
}
.tab15{
	display: inline-block;margin-left: 106px;
}
.tab16{
	display: inline-block;margin-left: 197px;
}
.tab17{
	display: inline-block;margin-left: 180px;
}
.tab18{
	display: inline-block;margin-left: 117px;
}
.tab19{
	display: inline-block;margin-left: 197px;
}
.tab20{
	display: inline-block;margin-left: 180px;
}
.tab21{
	display: inline-block;margin-left: 124px;
}
.tab22{
	display: inline-block;margin-left: 180px;
}
.tab23{
	display: inline-block;margin-left: 171px;
}
.tab24{
	display: inline-block;margin-left: 174px;
}
.tab25{
	display: inline-block;margin-left: 190px;
}
.tab26{
	display: inline-block;margin-left: 132px;
}
.tab27{
	display: inline-block;margin-left: 155px;
}


input{
	border: 0px;
	outline: 0px;
}



