body {
	background:#35A9DB;
	font-family:roboto;
	text-align:center;
}

h1 {
	color:#fff;
}

.ketengah {
	margin:10px auto;
	width:1150px;
}

.kotak {
	background:blue;
	width:500px;
	float:left;
	height:250px;
	margin:30px;
}

.gradient1 {
	background:linear-gradient(red, green);
	background:-webkit-linear-gradient(red, green);/*Safari*/
	background:-o-linear-gradient(red,green);/*Opera 11.6 to 12.0*/
	background:-moz-linear-gradient(red,green);/*Firefox 3.6 to 15*/
}

.gradient2 {
	background:linear-gradient(to right, red, yellow);
	background:-webkit-linear-gradient(left, red, yellow, green);/*Safari*/
	background:-o-linear-gradient(right, red, yellow, green);/*Opera 11.6 to 12.0*/
	background:-moz-linear-gradient(right, red, yellow, green);/*Firefox 3.6 to 15*/
}

.gradient3 {
	background:radial-gradient(red, yellow, green);
	background:-webkit-radial-gradient(red,yellow,green);/*Safari*/
	background:-o-radial-gradient(red,yellow,green);/*Opera 11.6 to 12.0*/
	background:-moz-radial-gradient(red,yellow,green);/*Firefox 3.6 to 15*/
}

.gradient4 {
	background:radial-gradient(circle,red, yellow, green);
	background:-webkit-radial-gradient(circle,red,yellow,green);/*Safari*/
	background:-o-radial-gradient(circle,red,yellow,green);/*Opera 11.6 to 12.0*/
	background:-moz-radial-gradient(circle,red,yellow,green);/*Firefox 3.6 to 15*/
}